* {
  transition: all .1s ease-in;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body {
  font-family: 'Trebuchet MS', Trebuchet, Arial, sans-serif;
}

.container {
  background-color: #3b3f45;
  margin: 0 auto;
  padding-bottom: 40px;
}

.head {
  background-color: #4a4f56;
  width: 100%;
  height: 120px;
}

h1,
p {
  text-align: center;
  vertical-align: middle;
  color: #cc8382;
}

p {
  font-size: 20px;
}

h1 {
  padding-top: 20px;
}

.list {
  display: block;
  box-sizing: border-box;
  width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

[type="checkbox"] {
  height: 25px;
  width: 25px;
  position: relative;
  left: 10px;
  vertical-align: middle;
}

label {
  align-items: center;
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  color: #fff;
  font-size: 24px;
  height: 60px;
  max-width: 800px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.list label:hover {
  background-color: #625e77;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
}

.list label:active {
  background-color: #906e75;
}

[type="checkbox"]:checked+span {
  text-decoration: line-through;
  color: #9c9eb5;
}

span {
  vertical-align: middle;
  margin-left: 15px;
}

sub {
  font-size: 15px;
  vertical-align: middle;
}

form label:nth-of-type(odd) {
  background-color: #88839e;
}

form label:nth-of-type(even) {
  background-color: #78778f;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 800px;
  height: 75px;
  background-color: #4a4f56;
  margin: 0 auto;
  position: relative;


}

button{
  margin: 0 15px;
  border: none;
  padding: 10px 25px;
  background-color: #906e75;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

input{
  border: none;
  padding: 10px 10px;
  font-size: 15px;
}
